{
  "arrowParens": "avoid",
  "printWidth": 100,
  "quoteProps": "consistent",
  "semi": false,
  "singleQuote": false,
  "overrides": [
    {
      "files": ["tsconfig.json"],
      "options": { "printWidth": 1 }
    }
  ]
}
