@tailwind base;

body {
  @apply bg-stone-950;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  padding: 2px;
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
  padding: 2px;
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
  @apply bg-stone-200/20 rounded-md;
}

/* Scrollbar Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-stone-200;
}

/* Made by Talisman class names */
.made-by-talisman > a:first-child {
  @apply text-stone-200/50;
  background: linear-gradient(90deg, #ed726d, #ee94f9);
  background-clip: text;
  -webkit-background-clip: text;
}

.made-by-talisman > a:last-child {
  @apply text-stone-200/50;
  background: linear-gradient(90deg, #918ff8, #cefd9c);
  background-clip: text;
  -webkit-background-clip: text;
}

.made-by-talisman:hover > a {
  transition: 300ms ease-in-out;
}

.made-by-talisman:hover > a:first-child,
.made-by-talisman:hover > a:last-child {
  color: transparent;
}

@tailwind components;
@tailwind utilities;
